#root {
  /* max-width: 1280px; */
  /* margin: 0 auto; */
  /* padding: 2rem; */
  /* text-align: center; */
  background-color: #D3D3D3;
} 

.Flyers {
  padding: 5rem 5rem;
  text-align: center;
  background-color:#303030;
}
